@using CorporationHR.Helpers
@{
    var clearenceName = ClereancesHelper.Instance.GetClearenceNameFromUserName(User.Identity.Name);
    var clearenceColor = ClereancesHelper.Instance.GetClearenceColorFromUserName(User.Identity.Name);
}
@{
    if (!clearenceName.Equals("We coudn't aquire your clerance :("))
    {
        <div id="displayClearance" style="background-color: @clearenceColor;">
            <p style="width: 300px; margin-left: auto; margin-right: auto; font-weight: bold">Your clearence is: @clearenceName</p>
        </div>
    }
}
